:root{
    --backgroundColor: #fff;
    --primaryColor: #3778FA;
    --lightColor: #F3F3F3;
    --textDark: #000;
    --textMuted: #65676C;
    --textLight: #fff;
    --font: 'Space Grotesk', sans-serif;
}

@font-face{
    font-family: 'Space Grotesk';
    src: url(fonts/SpaceGrotesk-SemiBold.ttf);
    font-size: 600;
}

@font-face{
    font-family: 'Space Grotesk';
    src: url(fonts/SpaceGrotesk-Medium.ttf);
    font-size: 500;
}

@font-face{
    font-family: 'Space Grotesk';
    src: url(fonts/SpaceGrotesk-Regular.ttf);
    font-size: 400;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font);
    background: var(--backgroundColor);
    color: var(--textDark);
}

img{
    max-width: 100%;
    display: block;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 90.655%;
    max-width: 1640px;
    margin: 0 auto;
}

#header{
    width: 100%;
    margin-top: 1.0625rem;
}

#header h1{
    font-size: 1.25rem;
    color: var(--primaryColor);
}

.headerInner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuDesktop{
    display: none;
}

#login{
    display: none;
}

#heroText{
    font-size: calc(3rem - 2px);
}

@media (min-width: 768px){
    #menuMobile{
        display: none;
    }
    
    #menuDesktop{
        display: flex;
    }

    #login{
        display: flex;
    }
}